<a href="https://colab.research.google.com/github/AlexLeoShin/SeminarGit/blob/main/%D0%9C%D0%BE%D0%B4%D1%83%D0%BB%D1%8C_4_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_%D0%BD%D0%B0_Python_%D0%B4%D0%BB%D1%8F_%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Практическое ДЗ 1-4, Шлюпкин А.Л., группа №1.**
#**Модуль 4. Основы программирования на Python для анализа данных.**
#**4.1 Введение в Python. Ввод и вывод данных. Типы данных. Встроенные функции**

#**1. Вывод данных**

##**Задание № 1**

Задание № 1
Напишите программу, которая выводит на экран следующий текст:
**Hello Word**

Входные данные: На вход программе ничего не
подаётся.

Выходные данные: Программа должна вывести текст в соответствии с условием задачи.

In [ ]:
print('Hello Word')

Hello Word

##**Задание №2**

**Первые измерения датчиков.** В исследовательском центре проводятся испытания шести новых датчиков температуры.

Каждый датчик выдал своё первое измерение: 4, 8, 15, 16, 23 и 42 °C

Напишите программу, которая выводит эти значения в одной строке через пробел - как если бы вы просматривали «сырые данные» перед анализом.

Входные данные: На вход программе ничего не подаётся.

Выходные данные: Программа должна вывести измеренные значения температур через пробел.

In [ ]:
print(4, 8, 15, 16, 23, 42)

4 8 15 16 23 42

##**Задание №3**

**Компания анализирует, как росло число пользователей за первую неделю после запуска сервиса**.
Каждый символ * показывает количество новых пользователей в день.
Напишите программу, которая выводит текстовую визуализацию роста пользователей за 7 дней:

Входные данные: На вход программе ничего не подается.

![изображение.png]()

Выходные данные: Программа должна вывести текстовую
визуализацию, как показано выше.

In [ ]:
print('*')
print('*', '*')
print('*', '*', '*')
print('*', '*', '*', '*')
print('*', '*', '*', '*', '*')
print(('* ') * 6)
print(('* ') * 7)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

##**Задание №4**

**Финансовый аналитик готовит краткий отчёт о доходах компании по кварталам.**
Напишите программу, которая выводит следующую информацию на отдельных
строках:

Отчёт о доходах

1 квартал: 1200000 руб.

2 квартал: 1350000 руб.

3 квартал: 1280000 руб.

4 квартал: 1420000 руб.

Входные данные: На вход программе ничего не подаётся.

Выходные данные: Программа должна вывести указанный текст, где каждая строка начинается с
новой строки.

In [ ]:
print('Отчёт о доходах')
print('1 квартал: 1200000 руб.')
print('2 квартал: 1350000 руб.')
print('3 квартал: 1280000 руб.')
print('4 квартал: 1420000 руб.')

Отчёт о доходах
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

#**2. Ввод данных**

##**2.1 Переприсваемость**

##**Задание №5**

**В аналитическом отделе компании к команде присоединился новый специалист.**

Напишите программу, которая получает на вход имя нового аналитика и выводит
персональное приветствие в формате:

Добро пожаловать в команду, <имя аналитика>!

Входные данные: На вход программе подаётся одна
строка - имя аналитика.

Влад

Выходные данные: Программа должна вывести
приветствие в указанном формате.

Добро пожаловать в команду, Влад!

In [ ]:
name = input()
print('Добро пожаловать в команду, ' + name + '!') #склеили значение аргумента и символ "!", без пробела

Влад
Добро пожаловать в команду, Влад!

##**Задание №6**

**Любимая компания**. На вход программе подаётся строка текста - название
компании.

Напишите программу, которая принимает это название и выводит сообщение в
формате:

<название компании> - лидер рынка!

Входные данные: На вход программе подаётся
название компании.

Сбер

Выходные данные: Программа должна вывести текст в
соответствии с условием задачи.

Сбер - лидер рынка!

In [ ]:
love_company = input()
print(love_company + ' - лидер рынка!')

Сбер
Сбер - лидер рынка!

##**Задание №7**

**Описание набора данных.** Вы как аналитик готовите краткое описание нового
набора данных.
На вход программе подаются три строки:

1 - название набора данных, 2 - количество строк, 3 - количество столбцов.

Выведите эти три строки в том же порядке, чтобы получился черновик описания.


Входные данные:
<название> Sales Q1

<число строк> 1000

<число столбцов> 8

Выходные данные: Программа должна вывести введённые данные в той же
последовательности, каждую на
отдельной строке.

Sales Q1

1000

8

In [ ]:
name = input()
rows = input()
columns = input()
print('название', name)
print('число строк', rows)
print('число столбцов', columns)

Sales Q1
1000
8
название Sales Q1
число строк 1000
число столбцов 8

##**Задание №8**

**Последние три отчёта.** Вы как аналитик просматриваете названия последних трёх
отчётов, загруженных в систему.

Напишите программу, которая принимает три
строки - названия отчётов - и выводит их в обратном порядке, чтобы показать их
от самого нового к самому старому.

Входные данные:

<отчёт 1> Продажи за январь

<отчёт 2> Продажи за февраль

<отчёт 3> Продажи за март

Выходные данные: Программа должна вывести введённые строки в обратной
последовательности, каждую на отдельной строке.

Продажи за март

Продажи за февраль

Продажи за январь

In [ ]:
report_1 = input()
report_2 = input()
report_3 = input()
print(report_3)
print(report_2)
print(report_1)

Продажи за январь
Продажи за февраль
Продажи за март
Продажи за март
Продажи за февраль
Продажи за январь

##**Задание №9**

**Рост продаж.** В отделе аналитики вы анализируете рост продаж по товарам.

В переменной base_price хранится базовая цена товара, а в переменной growth_percent - процент увеличения цены (например, 20
означает рост на 20%).

Вычислите новую цену с учётом роста и сохраните её в переменную new_price.

Также вычислите размер прибавки (разницу между новой и старой ценой) и сохраните её в переменную delta.

Входные данные:

base_price = 100

growth_percent = 20

Выходные данные: Программа должна вычислить:
новую цену new_price
разницу между ценами delta
и вывести результаты на экран.

new_price = 120.0

delta = 20.0

In [ ]:
base_price = input()
growth_percent = input()
new_price = float(base_price) * (1 + float(growth_percent) / 100)
delta = new_price - float(base_price)
print('new_price =', round(new_price, 1))
print('delta =', round(delta, 1))

100
20
new_price = 120.0
delta = 20.0

##**2.1 Необязательные Параметры**

##**Задание №10**

**Отчёт по регионам.** Компания собирает отчёт по регионам продаж.
Необходимо вывести названия трёх регионов в одной строке,
разделив их символами ***.


Входные данные: На вход программе ничего не
подаётся.

Выходные данные:
Северный******Центральный*** ***Южный

In [ ]:
print('Северный', 'Центральный', 'Южный', sep='***') ## Вывод с использованием sep='***'

Северный***Центральный***Южный

##**Задание №11**

**Аналитик подключается к базе данных, и программа должна вывести приветствие
с его именем в одной строке, используя параметр end.**

Напишите программу, которая получает имя аналитика через input() и выводит
сообщение в формате: Подключение установлено. Добро пожаловать, <имя
аналитика>!


Входные данные: На вход программе подаётся одна
строка - имя аналитика.

Влад

Выходные данные: Программа должна вывести
приветствие в одной строке, используя
параметр end.

Подключение установлено. Добро
пожаловать, Влад!

In [ ]:
name_analyst = input()
print('Подключение установлено. Добро пожаловать,', end=' ')
print(name_analyst, end='')
print('!')

Влад
Подключение установлено. Добро пожаловать, Влад!

##**Задание №12**

**Отчёт о продажах.** Вы аналитик и хотите красиво вывести названия трёх товаров в
отчёте.
Программа должна:
1. считать разделитель, который будет использоваться между товарами. В
случае разделителем является вертикальная черта: |
2. считать названия трёх товаров,
3. вывести все три названия в одной строке, разделённые указанным
символом/строкой.


Входные данные:

строка-разделитель

название товара 1

название товара 2

название товара 3

|

Молоко

Хлеб

Сыр

**Выходные данные:**
Программа должна вывести три
названия через указанный разделитель
в одной строке.

Молоко | Хлеб | Сыр

In [ ]:
separator = input()
product1 = input()
product2 = input()
product3 = input()

print(product1, product2, product3, sep=separator)

|
Молоко
Хлеб
Сыр
Молоко|Хлеб|Сыр

#**3. Типы переменных Python**

##**3.1 Числа с плавающей точкой (float)**

##**Задание №13**

**Целая часть числа.** Аналитик получает данные, где числа записаны в виде строк с десятичной частью.

Нужно выделить только целую часть числа и сохранить её в
переменную типа int.


Входные данные: value_str = "42.7"

Выходные данные: integer_part = 42

Подсказка:
Если попробовать сразу преобразовать строку в int, произойдёт ошибка.

Поэтому сначала нужно перевести строку в число с плавающей точкой (float),
а затем - в целое число (int)

In [ ]:
value_str = '42.7'
value_float = float(value_str) #перевести строку в число с плавающей точкой (float)
integer_part = int(value_float) #преобразуется в целое число с помощью функции int
print('integer_part =', integer_part) #вывод integer_part = и целого числа

integer_part = 42

##**3.2 Встроенные функции для работы с числами**

##**Задание №14**

**Абсолютное отклонение от плана.** Необходимо вычислить, насколько фактическое число заказов отличается от планового, и сформировать текст отчёта в формате:

'Абсолютное отклонение от плана равняется <число>'.

Где на месте <число>
должно стоять значение из abs_diff.


Входные данные:

orders_yesterday = 10

plan = 20

Выходные данные:

Абсолютное отклонение от плана
равняется 10

In [ ]:
orders_yesterday = 10
plan = 20
abs_diff = abs(orders_yesterday - plan)
print('Абсолютное отклонение от плана равняется', abs_diff)

Абсолютное отклонение от плана равняется 10

##**Задание №15**

**Наибольшее и наименьшее.** Аналитик получает набор из пяти чисел и должен
определить среди них минимальное и максимальное значения.

Напишите программу, которая выводит на экран результаты в формате:

Наименьшее число = <наименьшее число>

Наибольшее число = <наибольшее число>


Входные данные:

На вход программе подаются 5 целых чисел, каждое - на отдельной
строке.

1

2

3

4

5

Выходные данные:
Программа должна вывести два
сообщения, как указано выше.

Наименьшее число = 1

Наибольшее число = 5

In [ ]:
num1 = int(input()) #запрос и преобразование в целое числое с присваивоением переменной num1
num2 = int(input())
num3 = int(input())
num4 = int(input())
num5 = int(input())

print('Наименьшее число =', min(num1, num2, num3, num4, num5))
print('Наибольшее число =', max(num1, num2, num3, num4, num5))

1
2
3
4
5
Наименьшее число = 1
Наибольшее число = 5

##**3.3 Строковый тип данных (str)**

##**Задание №16**

**Компания запускает новый курс по Python.** Необходимо, чтобы система
автоматически приветствовала нового пользователя, используя его имя и
фамилию.

Программа должна вывести сообщение в формате:

Привет, <имя> <фамилия>! Вы только что начали изучать Python

**Используйте конкатенацию строк**!


Входные данные:

Антон

Иванов

Выходные данные:

Привет, Антон Иванов! Вы только что
начали изучать Python

In [ ]:
first_name = input()
last_name = input()
print('Привет, ' + first_name + ' ' + last_name + '! Вы только что начали изучать Python')

Антон
Иванов
Привет, Антон Иванов! Вы только что начали изучать Python

##**Задание №17**

**Напишите программу, которая выводит известную цитату Стива Джобса:**


"Каждый в этой стране должен научиться программировать, потому что это учит
думать."


Однако цитата подаётся в двух частях - через стандартный поток ввода input(),
каждая часть на отдельной строке.

Соедините их так, чтобы на экране
отобразилась полная цитата в кавычках.


Входные данные:

«Каждый в этой стране должен
научиться программировать,

потому что это учит думать.»

Выходные данные:

"Каждый в этой стране должен
научиться программировать, потому
что это учит думать."

In [ ]:
text1 = input()
text2 = input()
print(text1 + ' ' + text2)

«Каждый в этой стране должен научиться программировать,
потому что это учит думать.»
«Каждый в этой стране должен научиться программировать, потому что это учит думать.»

##**3.4 Встроенные Функции для Работы со строками.** **Логический тип данных (bool)**

##**Задание №18**

**Проверка скидки.** Магазин предоставляет скидку, если сумма покупки превышает
1000 рублей. Напишите программу, которая определяет, получит ли клиент скидку.

Входные данные: Одно число - сумма покупки.

999

Выходные данные: Одно логическое значение (True или
False).

False

In [ ]:
amount = int(input())
print(amount > 1000)

999
False

##**Задание №19**

**Проверка возраста пользователя.** Аналитическая система должна определить,
является ли пользователь совершеннолетним.


Входные данные: Одно целое число - возраст.

16

Выходные данные: True, если пользователю 18 лет и
больше, иначе - False.

False

In [ ]:
age = int(input())
print(age >= 18)

16
False

##**Задание №20**

**Встреча потоков данных.** В компании два потока данных передаются навстречу друг другу с постоянными скоростями V1 и V2 мегабайт в час.
Расстояние между потоками на старте равно S мегабайт.

Формула:
𝑡 =
𝑆
/
𝑉1 + 𝑉2

Напишите программу, которая определяет, через сколько часов потоки «встретятся» (достигнут одного и того же объёма данных).


Входные данные:

объём данных между потоками (МБ)

500.0

скорость первого потока (МБ/ч) 50.0

скорость второго потока (МБ/ч) 70.0


Выходные данные:

Программа должна вывести одно число
- время встречи потоков в часах.

4.166666666666667

In [ ]:
S = int(input())
V1 = int(input())
V2 = int(input())
t = S / (V1 + V2)
print(t)

500
50
70
4.166666666666667

##**Задание №21**

**Площадь прямоугольного треугольника.**
Напишите программу, которая считывает длины двух катетов прямоугольного
треугольника и вычисляет его площадь.

Формула для площади:
𝑆 =
𝑎 ⋅ 𝑏
/
2

где a и b - длины катетов.


Входные данные:

Длина первого катета a - 443

Длина второго катета b - 390

Выходные данные: Программа должна вывести одно число
- площадь треугольника.

86385.0

In [ ]:
a = int(input())
b = int(input())
S = a * b / 2
print(S)

443
390
86385.0

##**Задание №22**

**451 градус по Фаренгейту.** У известного американского писателя Рэя Бредбери
есть роман «451 градус по Фаренгейту».

Напишите программу, которая определяет, какой температуре по шкале Цельсия соответствует указанное значение по шкале Фаренгейта.

Для получения градусов по Цельсию из градусов по Фаренгейту используйте следующую формулу:

𝑡𝐶 =
5
/
9
(𝑡𝐹 − 32)
, где 𝑡𝐹 - температура в градусах по Фаренгейту.


Входные данные: На вход программе подаётся одно
действительное число - температура в градусах по шкале Фаренгейта.

450.55

Выходные данные: Программа должна вывести одно
действительное число - температуру в
градусах по шкале Цельсия.

232.5277777777778

In [ ]:
tF = float(input()) #преобразуем текст в число с плавающей точкой и сохраняем в переменной
tC = 5 / 9 * (tF - 32)
print(tC)

450.55
232.5277777777778

##**Задание №23**

**В компании SerpentData сотрудники получают бонус за проделанную работу.**
Бонус рассчитывается как 1% от дневной выручки, округлённый вниз до целого
числа.
Данные о выручке поступают из внешней системы в виде строки, поэтому
аналитик должен:
1. Преобразовать строку в число;
2. Рассчитать бонус - 1% от выручки;
3. Подготовить отчёт для менеджера.


Входные данные:

revenue_str - строка с выручкой за
день 438746.78

courier_name - имя курьера Влад

Выходные данные:

report, содержащую строку в формате: Курьер <Имя курьера> получит бонус
<Число> р.


report = 'Курьер Антон получит бонус
4387 р.'

In [ ]:
revenue_str = '438746.78'
courier_name = 'Влад'

revenue = float(revenue_str) #строку в число
bonus = int(revenue * 0.01) #бонус - 1% от выручки

report = 'Курьер ' + courier_name + ' получит бонус ' + str(bonus) + ' р.'
print(report)

Курьер Влад получит бонус 4387 р.

#**Практическое занятие №2.**
#**4.2 Условный оператор. Циклы. Функции**

##**2. Операторы сравнения**

##**Задание №1**

**При регистрации в аналитической системе DataPython пользователи должны дважды ввести пароль, чтобы убедиться, что не допустили ошибку.**

Нужно написать программу, которая проверяет, совпадают ли введённые значения


Входные данные:

qwerty

qwerty

___

qwerty

QwertY


Выходные данные:

Пароль принят

Пароль не принят

In [ ]:
input1 = input()
input2 = input()
if input1 == input2:
  print('Пароль принят')
else:
  print('Пароль не принят')

qwerty
qwerty
Пароль принят

In [ ]:
input1 = input()
input2 = input()
if input1 == input2:
  print('Пароль принят')
else:
  print('Пароль не принят')

qwerty
QwertY
Пароль не принят

##**Задание №2**

**Система безопасности платформы DataPython проверяет возраст пользователей перед выдачей доступа к аналитическим инструментам.** Если пользователю 18 лет и больше, доступ разрешён, иначе - запрещён.


Входные данные: На вход программе подаётся одно целое число - возраст пользователя.

16

18


Выходные данные: Программа должна вывести: Доступ разрешен, если возраст не менее 18 лет; Доступ запрещен, если возраст меньше 18 лет.

Доступ запрещен

Доступ разрешен

In [ ]:
age = int(input())
if age >= 18:
  print('Доступ разрешен')
else:
  print('Доступ запрещен')

16
Доступ запрещен

In [ ]:
age = int(input())
if age >= 18:
  print('Доступ разрешен')
else:
  print('Доступ запрещен')

18
Доступ разрешен

##**Задание №3**

**В аналитической системе DataPython данные часто сравниваются парами - нужно определить, какой показатель меньше.** Напишите программу, которая получает два числа и определяет наименьшее из них.


Входные данные:
На вход программе подаются два различных целых числа, каждое на отдельной строке.

8

11

Выходные данные: Программа должна вывести наименьшее из двух чисел.

8

In [ ]:
num1 = int(input())
num2 = int(input())
if num1 < num2:
  print(num1)
else:
  print(num2)

8
11
8

##**Задание №4**



**В отделе аналитики компании DataPython поступают числовые ряды. Иногда нужно быстро определить, образуют ли данные арифметическую прогрессию - то есть последовательность, где каждое число больше предыдущего на одно и то же значение.**

Напишите программу, которая проверяет, являются ли три заданных числа последовательными членами арифметической прогрессии.

Входные данные: На вход программе подаются три целых числа, каждое на отдельной строке.

1

2

3

Выходные данные: Программа должна вывести: “Да”, если числа образуют арифметическую прогрессию; “Нет” - в противном случае.

ДА

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
if num3 - num2 == num2 - num1:
  print('ДА')
else:
  print('НЕТ')

1
2
3
ДА

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
if num3 - num2 == num2 - num1:
  print('ДА')
else:
  print('НЕТ')

1
3
4
НЕТ

##**Задание №5**

**В команде аналитиков компании DataPython поступают числовые данные - ежедневные изменения продаж. Иногда встречаются отрицательные значения (убытки), нужно посчитать итог только по положительным результатам.**

Напишите программу, которая считывает три числа и вычисляет сумму только положительных значений


Входные данные:На вход программе подаются три целых числа, каждое на отдельной строке.

-3

-5

-10


5

4

3


Выходные данные: Программа должна вывести одно число - сумму положительных чисел.
Если среди введённых чисел нет положительных, выведите 0.

0

12


!!! Добавьте в программу счётчик - переменную, в которой хранится накопленный результат. В программировании счётчик используется, чтобы суммировать значения или считать количество подходящих элементов. В нашем случае счётчиком будет переменная.

In [ ]:
price1 = int(input())
price2 = int(input())
price3 = int(input())
if price1 > 0:
  sum = price1
else:
  sum = 0
if price2 > 0:
  sum = sum + price2
else:
  sum = sum
if price3 > 0:
    sum = sum + price3
else:
    sum = sum
print(sum)

5
4
3
12

In [ ]:
total_sum = 0
for i in range(3):
  price = int(input())
  if price > 0:
    total_sum += price
print(total_sum)

-3
-5
-10
0

##**Задание №6**

**Минимальное значение вручную.** В аналитике данных важно уметь не только пользоваться встроенными функциями, но и понимать, как они работают внутри.
Вместо того чтобы использовать min(), давайте реализуем поиск минимального значения вручную.


Входные данные: На вход программе подаются четыре целых числа, каждое на отдельной строке.

5

4

8

1


Выходные данные: Программа должна вывести наименьшее из четырёх чисел.
Если минимальных значений несколько - выведите одно из них.

1

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
num4 = int(input())
min_num = num1 #гипотеза, что 1 число наименьшее
if num2 < min_num: #сравниваем 1е со 2м числом
  min_num = num2 #если удовлетворяет, то переприсваиваем наименьшее
if num3 < min_num:
  min_num = num3
if num4 < min_num:
  min_num = num4

print(min_num)

5
4
8
1
1

##**3. Вложенные условия. 4. Каскадный условный оператор, 5. Логические операторы**

##**Задание №7**

**Високосный год.** В анализе, связанных с планированием, важно правильно учитывать високосные годы, ведь в них на один день больше - 366 вместо 365. Это может влиять на отчёты, расчёты рабочих дней или прогнозирование выручки по датам. Напишите программу, которая определяет, является ли год с данным номером високосным. Год является високосным, если его номер кратен 4, но не кратен 100, или если он кратен 400.

Входные данные:На вход подаётся одно натуральное число - год.

2009

2020


Выходные данные:
Выведите Да, если год високосный, и Нет, если нет.

Нет

Да

In [ ]:
year = int(input())
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
# % - оператор деления по модулю, который возвращает остаток от деления
  print('Да')
else:
  print('Нет')

2009
Нет

In [ ]:
year = int(input())
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  print('Да')
else:
  print('Нет')

2020
Да

##**Задание №8**

**При анализе данных часто нужно определить медиану - значение, которое находится посередине упорядоченного набора чисел.** В нашей задаче у вас всего три показателя - нужно найти тот, который находится между минимальным и максимальным. Используйте elif.


Входные данные: На вход программе подаются три различных целых числа, каждое на отдельной строке.

1

2

3


Выходные данные: Программа должна вывести серединное значение из этих трёх чисел.

2

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
#начинаем сравнение введеных чисел
if (num1 > num2 and num1 < num3) or (num1 < num2 and num1 > num3):
  print(num1)
elif (num2 > num1 and num2 < num3) or (num2 < num1 and num2 > num3):
  print(num2)
else:
  print(num3)

1
2
3
2

##**6. Циклы**

##**Задание №9**

**Напишите программу, которая выводит текст «Войти в IT с Python» (без кавычек) 10 раз.**


Входные данные: На вход программе ничего не подаётся.


Выходные данные: Программа должна вывести 10 строк с текстом: Войти в IT с Python

Войти в IT с Python

Войти в IT с Python

Войти в IT с Python

Войти в IT с Python

Войти в IT с Python

Войти в IT с Python

Войти в IT с Python

Войти в IT с Python

Войти в IT с Python

Войти в IT с Python

In [ ]:
for i in range(10):
  print('Войти в IT с Python')

Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python

##**Задание №10**

**Напиши программу, которая выводит звёздный прямоугольник размерами n × 19,
где n - это высота прямоугольника (количество строк).**

Входные данные: На вход программе подаётся одно натуральное число n (1 ≤ n ≤ 20) - высота прямоугольника.

2

Выходные данные: Программа должна вывести звёздный прямоугольник, состоящий из n строк,
в каждой из которых 19 символов *.

!!! В Python можно умножать строку на число, чтобы быстро создавать повторяющиеся элементы.

In [ ]:
num = int(input())
for i in range(num):
  print('*' * 19)

2
*******************
*******************

##**Задание №11**

**Нумерация строк.** В аналитике данных часто нужно пронумеровать строки таблицы, присвоить индекс записям или создать отчёт с порядковыми номерами. Напиши программу, которая считывает одну строку текста и выводит 10 строк, пронумерованных от 0 до 9, добавляя указанную строку после номера.


Входные данные: Формат входных данных:
На вход программе подаётся одна строка текста.

epoche


Выходные данные:

Формат выходных данных: Программа должна вывести 10 строк в формате:

0 <текст>

1 <текст>

...

9 <текст>


0 epoche

1 epoche

2 epoche

3 epoche

4 epoche

5 epoche

6 epoche

7 epoche

8 epoche

9 epoche

In [ ]:
text = input()
for i in range(10):
  print(i, text)

epoche
0 epoche
1 epoche
2 epoche
3 epoche
4 epoche
5 epoche
6 epoche
7 epoche
8 epoche
9 epoche

##**Задание №12***

**Последовательность Фибоначчи - это цепочка чисел, где каждое следующее число равно сумме двух предыдущих**


Входные данные: Задание со звездочкой, решаем по желанию


Выходные данные:

##**Задание №13**

**Факториал.** На вход программе подаётся натуральное число 𝑛. Напишите программу, которая вычисляет 𝑛!.


Входные данные: На вход программе подаётся натуральное число n.


Выходные данные: Программа должна вывести единственное число в соответствии с условием задачи.

!!! Факториалом натурального числа n, называется произведение всех натуральных чисел от 1 до n,

то есть n! = 1 * 2 * 3 * …* n

In [ ]:
n = int(input())
factorial = 1
for i in range(1, n + 1):
  factorial *= i
print(factorial)

5
120

##**Задание №14**

**В аналитике данных часто приходится собирать поток данных до определённого сигнала - например, при обработке логов, отчётов или данных с сенсоров.** Напишите программу, которая считывает последовательность слов, каждое на отдельной строке, и выводит их до слова "стоп".


Входные данные: На вход программе подаётся последовательность слов, каждое слово на отдельной строке.

первый

второй


Выходные данные: Программа должна вывести члены данной последовательности.

первый

второй

In [ ]:
while True:
  word = input()
  if word == 'стоп':
    break
  print(word)

первый
первый
второй
второй
стоп

##**Задание №15**

**На вход программе подаётся последовательность целых чисел, каждое число на отдельной строке. Признаком окончания последовательности является любое отрицательное число, при этом в саму последовательность оно не входит.** Напишите программу, которая выводит сумму всех членов данной последовательности.


Входные данные: На вход программе подаётся последовательность слов, каждое слово на отдельной строке.

5

5

-5


Выходные данные: Программа должна вывести сумму членов данной последовательности.

10

In [ ]:
total_sum = 0
while True:
  num = int(input())
  if num < 0:
    break
  total_sum += num
print(total_sum)

5
5
-5
10

##**7. Функции**

##**Задание №16**

**Компания анализирует, как росло число пользователей за первую неделю после запуска сервиса. Каждый символ * показывает количество новых пользователей в день**.
Напишите функцию draw_triangle(), которая выводит текстовую визуализацию роста пользователей за 7 дней:

!!! Функции объявляются с помощью ключевого слова def (от англ. define – определять).

Входные данные: На вход программе ничего не подаётся.


Выходные данные: Программа должна вывести текстовую визуализацию, как показано выше.

#*
#**
#***
#****
#*****
#******
#*******

In [ ]:
def draw_triangle():
  print('*')
  print('**')
  print('***')
  print('****')
  print('*****')
  print('******')
  print('*******')

draw_triangle()

*
**
***
****
*****
******
*******

In [ ]:
def draw_triangle(rows):
  for i in range(1, rows + 1):
    print('*' * i)

draw_triangle(7)

*
**
***
****
*****
******
*******

##**Задание №17**

**В компании DataFlow аналитики часто создают отчёты, где для удобства отображения фамилия, имя и отчество сотрудника указываются в виде инициалов.**
Вам поручено написать функцию для автоматической генерации инициалов, чтобы не тратить время на ручное форматирование.
Создайте функцию print_fio(name, surname, patronymic), которая:
•
принимает на вход имя (name), фамилию (surname) и отчество (patronymic);
•
формирует строку с инициалами сотрудника в формате ФИО, где все буквы - заглавные;
•
выводит результат на экран.


Входные данные: На вход программе подаётся последовательность слов, каждое слово на отдельной строке.

Алексей

Иванов

Петрович


Выходные данные: Программа должна вывести:

ИАП

In [ ]:
def print_fio(name, surname, patronymic):
  initials = surname[0] + name[0] + patronymic[0]
  print(initials)
# Считываем имя, фамилию и отчество с отдельных строк
name_input = input()
surname_input = input()
patronymic_input = input()

print_fio(name_input, surname_input, patronymic_input)

Алексей
Иванов
Петрович
ИАП

In [ ]:
def print_fio(name, surname, patronymic):
  #регистрозависимость при вводе, преобразование 'a' -> 'А' используя метод .upper()
  initials = surname[0].upper() + name[0].upper() + patronymic[0].upper()
  print(initials)
# Считываем имя, фамилию и отчество с отдельных строк
name_input = input()
surname_input = input()
patronymic_input = input()

print_fio(name_input, surname_input, patronymic_input)

алексей
Иванов
петрович
ИАП

##**Задание №18**

**В системе аналитики DataFlow нужно написать функцию, которая будет считывать поток чисел (например, изменения показателей) до тех пор, пока их сумма не станет равна нулю.**

Когда баланс достигнут - функция должна вернуть сумму квадратов всех введённых чисел, чтобы аналитик мог оценить «силу колебаний» данных.

Вводные данные: Пользователь вводит целые числа по одному в строке.
Ввод завершается, когда сумма чисел становится равна 0.

2

2

-4

Выходные данные: Функция должна вывести одно число - сумму квадратов всех введённых значений.

24

In [ ]:
def sum_squares_sum():
  total_sum = 0
  sum_sq = 0
  while True:
    num = int(input())
    total_sum += num
    sum_sq += num ** 2
    if total_sum == 0:
      break
  return sum_sq

result = sum_squares_sum()
print(result)

2
2
-4
24

##**Задание №19**

**Конвертер километров в мили.** Компания DataTravel анализирует расстояния между офисами и филиалами по миру. В базе данные хранятся в километрах, но для международных отчётов требуется переводить их в мили.
Задача: Напишите функцию convert_to_miles(km), которая принимает расстояние в километрах и возвращает расстояние в милях.
Формула : мили = километры * 0.6214

Вводные данные: На вход функции подаётся одно число - расстояние в километрах.

10

Выходные данные: Функция должна вернуть число - расстояние в милях.

6.214

In [ ]:
def convert_to_miles(km):
  miles = km * 0.6214
  return miles

km_distance = input("Введите расстояние в километрах: ")
km_distance = float(km_distance) # Преобразуем введенную строку в число с плавающей точкой

miles_distance = convert_to_miles(km_distance)
rounded_miles = round(miles_distance, 3)
print(rounded_miles)

Введите расстояние в километрах: 10
6.214

#**Практическое занятие №3.**
#**Коллекции (кортежи, списки, словари, множества)**

##**Задание № 1. Списки**

**Списки.** Напишите программу, которая получает на вход одно натуральное число n и формирует список [1, 2, 3, ..., n].

Вводные данные: На вход программе подаётся одно натуральное число n.

5


Выходные данные:  Программа должна вывести список чисел от 1 до n включительно.

[1, 2, 3, 4, 5]

In [ ]:
n = int(input())
my_list = list(range(1, n + 1))
print(my_list)

5
[1, 2, 3, 4, 5]

##**Задание № 2**

**У аналитика есть список идентификаторов пользователей - user_ids.** Нужно провести базовый анализ данных и создать несколько переменных:

• total_users - общее количество пользователей в списке;

• min_max_ids - список, состоящий из минимального и максимального ID;

• ID_second_user - ID второго пользователя в списке;

• last_user - ID последнего пользователя в списке.

Вводные данные: На вход подаётся список ID пользователей:

[104, 217, 86, 395, 132]

Выходные данные:  

5

[86, 395]

217

132

In [ ]:
user_ids = [104, 217, 86, 395, 132]

total_users = len(user_ids)
min_max_ids = [min(user_ids), max(user_ids)]
ID_second_user = user_ids[1]
last_user = user_ids[-1]

print(total_users)
print(min_max_ids)
print(ID_second_user)
print(last_user)

5
[86, 395]
217
132

##**Задание № 3**

In [ ]:
# ====================================================================
# Исходные данные: Замеры температуры пациентов
# ===================================================================="

temperatures = [36.6, 38.5, 37.0, 39.2]
print("1. Исходные замеры температуры:", temperatures)
print("-" * 40)

# 1. Метод append(): Накопление данных
# Новый замер 37.5 поступил из системы мониторинга.
temperatures.append(37.5)
print("2. После .append(37.5) (Добавлен новый замер):", temperatures)

# 2. Метод remove(): Очистка данных
# Удаляем "нормальный" замер 36.6 для фокусировки на аномалиях.
temperatures.remove(36.6)
print("3. После .remove(36.6) (Удалена некритичная запись):", temperatures)

# 3. Метод insert(): Вставка ретроспективных данных
# Вставляем базовую температуру 36.5 в начало списка (индекс 0).
temperatures.insert(0, 36.5)
print("4. После .insert(0, 36.5) (Вставлена базовая температура):", temperatures)

# 4. Метод index(): Поиск и локализация
# Находим, на какой позиции в списке находится критическая температура 39.2.
position_high_temp = temperatures.index(39.2)
print("5. Позиция критической температуры 39.2 (Индекс):", position_high_temp)

# 5. Метод sort(): Ранжирование
# Сортируем список на месте, чтобы упорядочить данные от минимального к максимальному.
temperatures.sort()
print("6. После .sort() (Ранжирование по возрастанию):", temperatures)

# 6. Метод reverse(): Инверсия
# Инвертируем список, чтобы видеть самую высокую (критическую) температуру первой.
temperatures.reverse()
print("7. После .reverse() (Сортировка от критической к нормальной):",
temperatures)

# 7. Метод count(): Частотный анализ # Считаем, сколько раз встречается "нормальный" замер 37.0 в выборке.
count_37_0 = temperatures.count(37.0)
print("2. После .count(37.0) (Частота замера 37.0):", count_37_0, "раз(а)")
print("-" * 40)

1. Исходные замеры температуры: [36.6, 38.5, 37.0, 39.2]
----------------------------------------
2. После .append(37.5) (Добавлен новый замер): [36.6, 38.5, 37.0, 39.2, 37.5]
3. После .remove(36.6) (Удалена некритичная запись): [38.5, 37.0, 39.2, 37.5]
4. После .insert(0, 36.5) (Вставлена базовая температура): [36.5, 38.5, 37.0, 39.2, 37.5]
5. Позиция критической температуры 39.2 (Индекс): 3
6. После .sort() (Ранжирование по возрастанию): [36.5, 37.0, 37.5, 38.5, 39.2]
7. После .reverse() (Сортировка от критической к нормальной): [39.2, 38.5, 37.5, 37.0, 36.5]
2. После .count(37.0) (Частота замера 37.0): 1 раз(а)
----------------------------------------

**Аналитик компании исследует активность заказов в Москве и Санкт-Петербурге за последние 5 дней.**

Даны два списка одинаковой длины, где каждый элемент - это количество заказов в конкретный день. Порядок в списках соответствует хронологии: от самого раннего дня к последнему. Ваша задача - создать следующие переменные:

• total_moscow - общее количество заказов в Москве

• total_spb - общее количество заказов в
Санкт-Петербурге

• all_orders_desc - объединённый список всех заказов по обоим городам, отсортированный по убыванию

• max_single_day - максимальное количество заказов в одном дне по обоим городам

• average_moscow - среднее количество заказов в Москве, округлённое до целого

• had_zero_moscow - булево значение (True или False): был ли день без заказов в Москве

Вводные данные:

moscow_orders = [104, 217, 86, 395, 132]

spb_orders = [120, 205, 180, 260, 155]

Выходные данные:

934

920

[395, 260, 217, 205, 180, 155, 132, 120, 104, 86]

395

187

False

In [ ]:
moscow_orders = [104, 217, 86, 395, 132]
spb_orders = [120, 205, 180, 260, 155]

total_moscow = sum(moscow_orders)
total_spb = sum(spb_orders)
all_orders = moscow_orders + spb_orders
all_orders.sort(reverse=True)
max_single_day = max(moscow_orders + spb_orders)
average_moscow = round(sum(moscow_orders) / len(moscow_orders))
had_zero_moscow = 0 in moscow_orders

print(total_moscow)
print(total_spb)
print(all_orders)
print(max_single_day)
print(average_moscow)
print(had_zero_moscow)

934
920
[395, 260, 217, 205, 180, 155, 132, 120, 104, 86]
395
187
False

##**Задание № 4**

**Иногда данные аналитика приходят в виде последовательности событий: например, список действий пользователя в мобильном приложении.**

Перед анализом такие списки нужно очистить и структурировать - добавить важные элементы, удалить лишние и изменить порядок. У вас есть два списка:

• events - список действий пользователя за сессию;

• important_sections - список ключевых разделов приложения, которые должны быть в начале и в конце пользовательского пути.

Ваша задача - обновить список событий(events) по следующим правилам:

1. Добавьте первый элемент из important_sections в начало списка events.

2. Добавьте второй элемент из important_sections в конец списка events.

3. Удалите из events событие "Профиль".

4. Выведите на экран events

Вводные данные:

events = ["Поиск", "Настройки", "Профиль"]

important_sections = ["Главная", "Каталог"]

Выходные данные:  

['Главная', 'Поиск', 'Настройки', 'Каталог']

In [ ]:
events = ["Поиск", "Настройки", "Профиль"]
important_sections = ["Главная", "Каталог"]

# 1. Добавьте первый элемент из important_sections в начало списка events.
events.insert(0, important_sections[0])

# 2. Добавьте второй элемент из important_sections в конец списка events.
events.append(important_sections[1])

# 3. Удалите из events событие "Профиль".
events.remove("Профиль")

# 4. Выведите на экран events
print(events)

['Главная', 'Поиск', 'Настройки', 'Каталог']

##**Задание № 5**

**У вас есть список ratings, в котором хранятся оценки пользователей - целые числа от 1 до 5.**

Требуется выполнить:
1. Посчитать, сколько пользователей поставили оценку 5, и сохранить это значение в переменную count_fives.
2. Вычислить долю таких оценок среди всех (share_of_fives) - как отношение числа пятёрок к общему количеству оценок.

Вводные данные:

ratings = [5, 4, 3, 5, 5, 2, 4, 5]

Выходные данные:

Количество оценок "5": 4

Доля оценок "5": 0.5

In [ ]:
ratings = [5, 4, 3, 5, 5, 2, 4, 5]

count_fives = ratings.count(5)
share_of_fives = count_fives / len(ratings)

print('Количество оценок "5":', count_fives)
print('Доля оценок "5":', share_of_fives)

Количество оценок "5": 4
Доля оценок "5": 0.5

##**Задание № 6**

**На вход подаётся список session_durations, содержащий длительности пользовательских сессий в минутах (целые числа). Гарантируется, что в списке минимум три элемента.**
Требуется выполнить:

1. Найдите самую короткую сессию и удалите её из списка. Сохраните это значение в переменную shortest_session.

2. Отсортируйте оставшиеся значения по возрастанию.

3. Добавьте в конец списка значение, которое на 10 минут больше, чем текущее максимальное значение.

4. Добавьте в начало списка значение 0 - чтобы обозначить "нулевую" контрольную точку.

5. Создайте переменную is_long_session, которая принимает значение True, если в итоговом списке более 5 элементов, иначе - False.

Вводные данные:

session_durations = [15, 40, 1, 25, 5]

Выходные данные:  
Самая короткая сессия: 1

Обновлённый список: [0, 5, 15, 25, 40, 50]

Длинная ли сессия? True

In [ ]:
session_durations = [15, 40, 1, 25, 5]

# 1. Найдите самую короткую сессию и удалите её из списка.
# Сохраните это значение в переменную shortest_session.
shortest_session = min(session_durations)
session_durations.remove(shortest_session)

# 2. Отсортируйте оставшиеся значения по возрастанию.
session_durations.sort()

# 3. Добавьте в конец списка значение, которое на 10 минут больше,
# чем текущее максимальное значение.
session_durations.append(max(session_durations) + 10)

# 4. Добавьте в начало списка значение 0
# - чтобы обозначить "нулевую" контрольную точку.
session_durations.insert(0, 0)

# 5. Создайте переменную is_long_session, которая принимает значение True,
# если в итоговом списке более 5 элементов, иначе - False.
is_long_session = len(session_durations) > 5

print("Самая короткая сессия:", shortest_session)
print("Обновлённый список:", session_durations)
print("Длинная ли сессия?", is_long_session)

Самая короткая сессия: 1
Обновлённый список: [0, 5, 15, 25, 40, 50]
Длинная ли сессия? True

##**Задание № 7**

**На вход программе подаются натуральное число 𝑛, а затем 𝑛 целых чисел.** Напишите программу, которая создаёт из указанных чисел список их кубов, а затем выводит его.

Вводные данные: На вход программе подаются натуральное число 𝑛, а затем 𝑛 целых чисел, каждое на отдельной строке.

5

1

2

3

4

5

Выходные данные:  Программа должна вывести список, состоящий из кубов указанных чисел.

[1, 8, 27, 64, 125]

In [ ]:
n = int(input()) #считаем сколько чисел будет следовать дальше
numbers = [] # объявили список для хранения следующих чисел после ввода
for i in range(n):
  numbers.append(int(input())) # считываем, преобразуем в целое число
  # и добавляем в конец списка numbers с помощью метода .append().
  # Этот шаг повторяется n раз, пока все n не будут считаны и добавлены в список numbers.

cubes = [num**3 for num in numbers]
print(cubes)

5
1
2
3
4
5
[1, 8, 27, 64, 125]

##**Задание № 8. Кортежи**

**Выведите сумму минимального и максимального элементов кортежа numbers.**

Вводные данные:

numbers = (3.1415, 1.8, 1.9, 1.4, 1.161, 1.324)

Выходные данные:  

4.3025

In [ ]:
numbers = (3.1415, 1.8, 1.9, 1.4, 1.161, 1.324)
min_num = min(numbers)
max_num = max(numbers)
print(min_num + max_num)

4.3025

##**Задание № 9.**

**В компании ведётся учёт сотрудников в формате кортежей (ФИО, год рождения, город).** Иногда в данных встречаются ошибки. Например, один из кортежей содержит:

('Иванов Иван', 1985, 'Санкт-Петербург')

Известно, что Иванов Иван родился в Москве. Ваша задача - исправить некорректный город и вывести обновлённый кортеж.

Вводные данные: На вход программе даётся кортеж с данными сотрудника:

('Иванов Иван', 1985, 'Санкт-Петербург')

Выходные данные:  Программа должна вывести кортеж с исправленным городом:

('Иванов Иван', 1985, 'Москва')

In [ ]:
employee_data = ('Иванов Иван', 1985, 'Санкт-Петербург')
#новый кортеж, используя элементы из старого кортежа и новое значение для Москва
updated_employee_data = (employee_data[0], employee_data[1], 'Москва')
#выводим новый кортеж
print(updated_employee_data)

('Иванов Иван', 1985, 'Москва')

##**Задание № 10. Словари**

**Создайте словарь с информацией о курьере нашего приложения.**
Ваша задача: создать переменную courier, которая содержит словарь со следующими данными:

• имя: ключ name, значение "Иван"

• количество доставленных заказов: ключ delivered_orders, значение 125

• активен ли курьер в системе: ключ is_active, значение True

Вводные данные:

• ключ name, значение "Иван"

• ключ name, значение "Иван"

• ключ is_active, значение True

Выходные данные:  

{'name': 'Иван', 'delivered_orders': 125, 'is_active': True}

In [ ]:
courier = {
    'name': 'Иван',
    'delivered_orders': 125,
    'is_active': True
}
print(courier)

{'name': 'Иван', 'delivered_orders': 125, 'is_active': True}

##**Задание № 11**

**В аналитических задачах часто требуется проверять, содержатся ли определённые значения в словаре.** В словаре products хранится информация о товаре в формате название товара - категория.
Создайте переменную is_home, которая принимает значение True, если среди значений словаря есть строка 'дом'. Если такой строки нет, присвойте False.

Вводные данные:

products = {

'стол': 'мебель',
'диван': 'мебель',
'лампа': 'дом',
'холодильник': 'техника'

}

Выходные данные:  

True

In [ ]:
products = {
    'стол': 'мебель',
    'диван': 'мебель',
    'лампа': 'дом',
    'холодильник': 'техника'
}

is_home = 'дом' in products.values()
#метод .values() возвращает представление всех значений из словаря products
print(is_home)

True

##**Задание № 12**

**В словаре products хранится информация о товаре в формате название товара - категория.**
Ваша задача:

1.Создать переменную categories, в которой будет список всех уникальных категорий.

2.Создать переменную products_number с общим числом товаров в словаре.

Вводные данны:

products = {

'стол': 'мебель',
'диван': 'мебель',
'лампа': 'дом',
'холодильник': 'техника'

}

Выходные данные:  

['техника', 'дом', 'мебель']

4

In [ ]:
products = {
    'стол': 'мебель',
    'диван': 'мебель',
    'лампа': 'дом',
    'холодильник': 'техника'
}

# Получаем уникальные категории с помощью множества:
# извлекаем все значения из списка,
# затем при помощи функции set() создаем уникальное множество значений,
# а list() преобразует это множество обратно в список
categories = list(set(products.values()))
# Подсчитываем общее количество товаров
products_number = len(products)

print(categories)
print(products_number)

['мебель', 'дом', 'техника']
4

##**Задание № 13**

**В словаре products хранится информация о товаре в формате название товара - категория.**
Ваша задача:

1.Создать переменную product_names, в которой будет список всех названий товаров в алфавитном порядке.

2.Создать переменную first_product, в которой будет название первого товара из этого списка.

Вводные данные:

products = {

'стол': 'мебель',
'диван': 'мебель',
'лампа': 'дом',
'холодильник': 'техника'

}

Выходные данные:  

['диван', 'лампа', 'стол', 'холодильник']

'диван'

In [30]:
products = {
    'стол': 'мебель',
    'диван': 'мебель',
    'лампа': 'дом',
    'холодильник': 'техника'
}

# 1.Создаем переменную product_names, список всех названий товаров в алфавитном порядке.
product_names = list(products.keys()) # Получаем список ключей (названий товаров)
product_names.sort() # Сортируем список по алфавиту

# 2.Создаем переменную first_product, в нем название первого товара из этого списка.
first_product = product_names[0]

#выводим
print(product_names)
print(first_product)

['диван', 'лампа', 'стол', 'холодильник']
диван

##**Задание № 14**

**В реальной аналитике почти всегда приходится комбинировать условия, чтобы выделять нужные сегменты.**
У вас есть словарь user_data, в котором хранятся данные по ключам:

• "orders_count" - количество заказов клиента за последний месяц (целое число)

• "total_spent" - сумма покупок клиента за месяц (целое число)


Создайте переменную priority_status, в которую нужно записать строку по таким правилам:

1. Если количество заказов не меньше 5 и сумма покупок не меньше 10 000, сохранить текст "Премиум".

2. Если количество заказов не меньше 3 или сумма покупок не меньше 5 000, сохранить текст "Хороший клиент".

3. Во всех остальных случаях сохранить текст "Обычный клиент".

Вводные данные:

user_data = {

'orders_count': 4,
'total_spent': 6000

}

Выходные данные:  

Хороший клиент

In [31]:
user_data = {
    'orders_count': 4,
    'total_spent': 6000
}

# Создаем переменную priority_status
if user_data['orders_count'] >= 5 and user_data['total_spent'] >= 10000:
    priority_status = "Премиум"
elif user_data['orders_count'] >= 3 or user_data['total_spent'] >= 5000:
    priority_status = "Хороший клиент"
else:
    priority_status = "Обычный клиент"

print(priority_status)

Хороший клиент

##**Задание № 15. Множества**

**В аналитике часто нужно определять, сколько уникальных значений встречается в наборе данных - будь то категории товаров, города пользователей или символы в строке**.
Напишите программу, которая определяет количество различных символов в заданной строке текста.

Вводные данные:
На вход программе подаётся строка текста.

analytics

Выходные данные:  
Программа должна вывести количество различных символов в строке.

8

In [34]:
input_string = input()
# создаем множество (set) из символов строки input_string.
# сохраним только уникальные элементы, дубликаты символов автоматически удаляются.
unique_characters = set(input_string)
print(len(unique_characters)) #выводим длину количества символов

analytics
8

##**Задание № 16**

**При анализе текстов иногда требуется определить, совпадают ли наборы символов в разных словах.**
Напишите программу, которая определяет, верно ли, что для записи трёх слов использован одинаковый набор букв.

Вводные данные: На вход программе подаётся строка, состоящая из трёх слов, разделённых пробелом.

abc cab bac

Выходные данные:  Программа должна вывести ДА, если для записи всех трёх слов использован один и тот же набор букв, или НЕТ - в противном случае.

ДА

In [37]:
string = input()
words = string.split() # Разделяем строку на слова по пробелам

# создадим множества символов для каждого слова
set1 = set(words[0])
set2 = set(words[1])
set3 = set(words[2])

# проверим, равны ли множества
if set1 == set2 and set2 == set3:
  print('ДА')
else:
  print('НЕТ')

abc cab bac
ДА

##**Задание № 17. Методы множеств**

**При анализе последовательностей часто нужно определять, встречался ли элемент ранее - например, чтобы найти повторяющиеся значения в данных.**
Напишите программу, которая для каждого числа в строке выводит ДА, если это число уже встречалось ранее, или НЕТ - если оно появилось впервые.

Вводные данные: На вход подаётся строка чисел, разделённых пробелами.

1 2 3 4 1

Выходные данные:  Для каждого числа программа должна вывести ДА или НЕТ - каждое на отдельной строке.

НЕТ

НЕТ

НЕТ

НЕТ

ДА

In [40]:
input_string = input()
numbers = input_string.split()
seen_numbers = set()

for num in numbers:
  if num in seen_numbers:
    print('ДА')
  else:
    print('НЕТ')
    seen_numbers.add(num)

1 2 3 4 1
НЕТ
НЕТ
НЕТ
НЕТ
ДА

##**Задание № 18**

**Напишите программу, которая выводит количество уникальных символов для каждого считанного слова без учёта регистра.**

Вводные данные: На вход программе в первой строке подаётся число n - количество слов. Далее следуют n строк, каждая из которых содержит одно слово.

2

Андрей

123123

Выходные данные:  Для каждого слова программа должна вывести на отдельной строке количество уникальных символов.

6

3

In [43]:
n = int(input()) #Считываем количество слов
words = [] #Создаем список для хранения слов
unique_counts = [] #Создаем список для хранения количества уникальных символов

for i in range(n):
  word = input() #считываем каждое слово
  words.append(word) #добавляем слово в список

for word in words:
  unique_chars = set(word.lower()) #создаем множество уникальных символов в нижнем регистре
  unique_counts.append(len(unique_chars)) #добавляем количество уникальных символов в список

for count in unique_counts:
  print(count) #вывод количества уникальных символов для каждого слова

2
Андрей
123123
6
3

#**Практическое занятие №4.**
#**Основы работы с библиотеками NumPy и Pandas**

##**Задача №1. Создание датафрейм**
Импортировать numpy, pandas, sklearn. Создать датафрейм:

In [ ]:
import pandas as pd
import numpy as np

data = {
    'сотрудник': ['Алина', 'Борис', 'Владимир', 'Дарья', 'Егор', 'Федор', 'Галина', 'Наталья', 'Игорь', 'Юлия'],
    'отдел': ['Аналитика', 'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг', 'Аналитика'],
    'проект_баллы': [85, 92, 78, np.nan, 88, 75, 95, np.nan, 82, 90],
    'выполнено_задач': [5, 7, 6, 7, 5, 6, 8, 4, 5, 7],
    'пройдено_тест': ['да', 'да', 'нет', 'да', 'да', 'нет', 'да', 'нет', 'да', 'да']
}

labels = ['с1','с2','с3','с4','с5','с6','с7','с8','с9','с10']

df_sotrudniki = pd.DataFrame(data, index=labels)
df_sotrudniki

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1      Алина  Аналитика          85.0                5            да
с2      Борис  Аналитика          92.0                7            да
с3   Владимир  Маркетинг          78.0                6           нет
с4      Дарья  Аналитика           NaN                7            да
с5       Егор  Маркетинг          88.0                5            да
с6      Федор  Аналитика          75.0                6           нет
с7     Галина  Маркетинг          95.0                8            да
с8    Наталья  Аналитика           NaN                4           нет
с9      Игорь  Маркетинг          82.0                5            да
с10      Юлия  Аналитика          90.0                7            да

##**Задача №3**

Вывести первые 3 строки датафрейма df_sotrudniki.

Входные данные: df_sotrudniki

In [ ]:
print("\n--- Первые 3 записи (df.head(2)) ---")
print(df_sotrudniki.head(3))

--- Первые 3 записи (df.head(2)) ---
   сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1     Алина  Аналитика          85.0                5            да
с2     Борис  Аналитика          92.0                7            да
с3  Владимир  Маркетинг          78.0                6           нет

##**Задача №4**

Вывести строки с4, с5, с9 и столбцы ['сотрудник', 'проект_баллы'].

Входные данные: df_sotrudniki

In [ ]:
# Выбираем строки с4, с5, с9 и столбцы ['сотрудник', 'проект_баллы']
print(df_sotrudniki.loc[['с4','с5','с9'], ['сотрудник', 'проект_баллы']])

   сотрудник  проект_баллы
с4     Дарья           NaN
с5      Егор          88.0
с9     Игорь          82.0

##**Задача №5**

Выбрать все строки, где выполнено_задач > 6.

Входные данные: df_sotrudniki

In [ ]:
print(df_sotrudniki[df_sotrudniki['выполнено_задач'] > 6])

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с2      Борис  Аналитика          92.0                7            да
с4      Дарья  Аналитика           NaN                7            да
с7     Галина  Маркетинг          95.0                8            да
с10      Юлия  Аналитика          90.0                7            да

##**Задача №6**

В строке с6 заменить проект_баллы на 80.

Входные данные: df_sotrudniki

In [ ]:
# Выводим строку с6 до изменения
print("Строка с6 до изменения:")
print(df_sotrudniki.loc[['с6']])

# В строке с6 заменим проект_баллы на 80
df_sotrudniki.loc['с6', 'проект_баллы'] = 80

# Выводим весь датафрейм после изменения
print("\nДатафрейм после изменения:")
print(df_sotrudniki)

Строка с6 до изменения:
   сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с6     Федор  Аналитика          75.0                6           нет

Датафрейм после изменения:
    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1      Алина  Аналитика          85.0                5            да
с2      Борис  Аналитика          92.0                7            да
с3   Владимир  Маркетинг          78.0                6           нет
с4      Дарья  Аналитика           NaN                7            да
с5       Егор  Маркетинг          88.0                5            да
с6      Федор  Аналитика          80.0                6           нет
с7     Галина  Маркетинг          95.0                8            да
с8    Наталья  Аналитика           NaN                4           нет
с9      Игорь  Маркетинг          82.0                5            да
с10      Юлия  Аналитика          90.0                7            да

##**Задача №7**

Посчитать общее количество выполненных задач.

Входные данные: df_sotrudniki

In [ ]:
total_completed_tasks = df_sotrudniki['выполнено_задач'].sum()
print(total_completed_tasks)

60

##**Задача №8**

Посчитать средние проект_баллы по отделам

Входные данные: df_sotrudniki.

In [ ]:
average_project_scores_by_department = df_sotrudniki.groupby(['отдел'])['проект_баллы'].mean()
print("Средние проектные баллы по отделам:")
print(average_project_scores_by_department)

Средние проектные баллы по отделам:
отдел
Аналитика    86.75
Маркетинг    85.75
Name: проект_баллы, dtype: float64

##**Задача №9**

Отсортировать датафрейм по проект_баллы в порядке убывания, а затем по выполнено_задач в порядке возрастания.

Входные данные: df_sotrudniki.

In [ ]:
sorted_df = df_sotrudniki.sort_values(by=['проект_баллы', 'выполнено_задач'], ascending=[False, True])
print("Датафрейм после сортировки:")
print(sorted_df)

Датафрейм после сортировки:
    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с7     Галина  Маркетинг          95.0                8            да
с2      Борис  Аналитика          92.0                7            да
с10      Юлия  Аналитика          90.0                7            да
с5       Егор  Маркетинг          88.0                5            да
с1      Алина  Аналитика          85.0                5            да
с9      Игорь  Маркетинг          82.0                5            да
с6      Федор  Аналитика          80.0                6           нет
с3   Владимир  Маркетинг          78.0                6           нет
с8    Наталья  Аналитика           NaN                4           нет
с4      Дарья  Аналитика           NaN                7            да

##**Задача №10**

Заменить строки 'да' и 'нет' в столбце пройдено_тест на булевы значения True и False

Входные данные: df_sotrudniki.

In [ ]:
df_sotrudniki['пройдено_тест'] = df_sotrudniki['пройдено_тест'].replace({'да': True, 'нет': False})
print("Датафрейм после замены значений в столбце 'пройдено_тест':")
print(df_sotrudniki)

Датафрейм после замены значений в столбце 'пройдено_тест':
    сотрудник      отдел  проект_баллы  выполнено_задач  пройдено_тест
с1      Алина  Аналитика          85.0                5           True
с2      Борис  Аналитика          92.0                7           True
с3   Владимир  Маркетинг          78.0                6          False
с4      Дарья  Аналитика           NaN                7           True
с5       Егор  Маркетинг          88.0                5           True
с6      Федор  Аналитика          80.0                6          False
с7     Галина  Маркетинг          95.0                8           True
с8    Наталья  Аналитика           NaN                4          False
с9      Игорь  Маркетинг          82.0                5           True
с10      Юлия  Аналитика          90.0                7           True

##**Задача №11**

Работаем со вторым датасетом. Скачать и загрузить данные о стоимости домов в Калифорнии, используя библиотеку sklearn. Просмотреть из чего состоит датасет

Входные данные: df_sotrudniki.

In [ ]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

# Загружаем встроенный датасет
california = fetch_california_housing()

# Создаём DataFrame из признаков
df_california = pd.DataFrame(california.data, columns=california.feature_names)
df_california

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

##**Задача №12**

Используя метод pd.concat([датафрейм1, датафрейм2], axis = 1), добавить к данным столбец, содержащий информацию о медианной стоимости дома (.target и .target_names).
В переменной california уже содержится(.target и .target_names):

In [ ]:
# Создаем DataFrame из целевой переменной
df_target = pd.DataFrame(california.target, columns=[california.target_names[0]])

# Объединяем два DataFrame
df_california = pd.concat([df_california, df_target], axis=1)

print("Датафрейм с добавленным столбцом медианной стоимости дома:")
print(df_california.head())

Датафрейм с добавленным столбцом медианной стоимости дома:
   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude  MedHouseVal
0    -122.23        4.526
1    -122.22        3.585
2    -122.24        3.521
3    -122.25        3.413
4    -122.25        3.422

##**Задача №13**

Использовать метод info().

Входные данные: df_california

In [ ]:
df_california.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

##**Задача №14**

Узнать, есть ли пропущенные значения, используя isna().sum().

Входные данные: df_california

In [ ]:
print("Количество пропущенных значений по столбцам:")
print(df_california.isna().sum())

Количество пропущенных значений по столбцам:
MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

##**Задача №15**

Вывести записи, где средний возраст домов в районе более 50 лет и население более 2500 человек, используя метод loc().

Входные данные: df_california

In [ ]:
filtered_df = df_california.loc[(df_california['HouseAge'] > 50) & (df_california['Population'] > 2500)]
print("Записи, где HouseAge > 50 и Population > 2500:")
print(filtered_df)

Записи, где HouseAge > 50 и Population > 2500:
       MedInc  HouseAge  AveRooms  AveBedrms  Population    AveOccup  \
460    1.4012      52.0  3.105714   1.060000      3337.0    9.534286
4131   3.5349      52.0  4.646119   1.047945      2589.0    5.910959
4440   2.6806      52.0  4.806283   1.057592      3062.0    4.007853
5986   1.8750      52.0  4.500000   1.206349      2688.0   21.333333
7369   3.1901      52.0  4.730942   1.017937      3731.0    4.182735
8227   2.3305      52.0  3.488860   1.170380      3018.0    3.955439
13034  6.1359      52.0  8.275862   1.517241      6675.0  230.172414
15634  1.8295      52.0  2.628169   1.053521      2957.0    4.164789
15652  0.9000      52.0  2.237474   1.053535      3260.0    2.237474
15657  2.5166      52.0  2.839075   1.184049      3436.0    1.621520
15659  1.7240      52.0  2.278566   1.082348      4518.0    1.780142
15795  2.5755      52.0  3.402576   1.058776      2619.0    2.108696
15868  2.8135      52.0  4.584329   1.041169      2987.0    3.966799

       Latitude  Longitude  MedHouseVal
460       37.87    -122.26      1.75000
4131      34.13    -118.20      1.93600
4440      34.08    -118.21      1.53000
5986      34.10    -117.71      2.12500
7369      33.97    -118.21      1.67600
8227      33.78    -118.20      1.62500
13034     38.69    -121.15      2.25000
15634     37.80    -122.41      2.43800
15652     37.80    -122.41      5.00001
15657     37.79    -122.41      2.75000
15659     37.79    -122.41      2.25000
15795     37.77    -122.42      3.25000
15868     37.76    -122.41      2.60300

##**Задача №16**

Узнать максимальное и минимальное значения медианной стоимости дома (max(), min()).

Входные данные: df_california

In [ ]:
max_medhouseval = df_california['MedHouseVal'].max()
min_medhouseval = df_california['MedHouseVal'].min()

print(f"Максимальная медианная стоимость дома: {max_medhouseval}")
print(f"Минимальная медианная стоимость дома: {min_medhouseval}")

Максимальная медианная стоимость дома: 5.00001
Минимальная медианная стоимость дома: 0.14999